/*
body{ /* Este codigo sirve para cambiar la imagen de fondo*/
    /*background-image: url(img/Cyberpunk_Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
*/
nav{ /* Este codigo sirve para mostrar la barra superior que contiene los links para poder pasar a las distintas paginas*/
  background-color: #ff0000;gh
  color: #FFF;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background-color: blue;
}

ul {
  margin: 0px;
}

li {
  list-style: none;
  display: inline;
  margin-right: 2rem;
  font-size: 32px;
}

a {
  color: rgb(0, 180, 252);
}