@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Paleta de colores*/
:root{
    --color-primario: #ece712;
    --color-acento: #55ead4;
    --color-texto: #880425;
    --color-fondo: #111111;
    --color-texto-claro: #1900ff;
    --color-Articulos: #92ffef;
    --fuente-principal: "Inter", sans-serif;
}
/*Paleta de colores*/

/*Reset basico*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Reset basico*/

/*Estilos Globales*/
html{font-size: 18px;}

body{
    font-family: var(--fuente-principal);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-texto);
    margin: 0 auto;
    padding: 0 1rem;
    background-image: url(./img/Cyberpunk_Fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*Estilos Globales*/

/* Barra de navegacion*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: 'montserrat', sans-serif;
  color: var(--color-texto-claro);
  background-color: var(--color-primario);
  padding: 1.5rem;
  border-radius: 15px;
}

.logo{ /*El order sirve para que el logo de "Night City" este a la derecha en vez de la izquierda*/
    text-shadow: 2px 2px 5px var(--color-fondo);
  order: 2;
}

.menu{
  display: flex;
  list-style: none;
  order: 1;
}

.menu .links{
    text-shadow: 2px 2px 5px var(--color-fondo);
  padding: 0 15px;
}

.menu .links a{
  transition:all .3s ease
}

.menu .links a:hover{
  background-color: #42B881;
}

nav{
    margin-top: 0.25rem;
}                        

nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}              

nav a{
    color: var(--color-acento);
    text-decoration: none;
    font-weight: 900;
}

nav a:hover{
    color: antiquewhite;
    text-decoration: underline;
}
/*Barra de navegacion*/

/*Seccion con Imagenes*/

.cuerpo-articulos{
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.articulos{
  background-color: var(--color-Articulos);
  box-shadow: 2px 2px 6px var(--color-fondo);
  width: 500px;
  text-align: center;
  border-radius: 15px;
}

.articulos img{
  width: 250px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px var(--color-fondo);
  border-radius: 15px;
}

/*Seccion con Imagenes*/

/*TIPOGRAFIA*/

h1, h2, h3{font-size: 2rem; color: var(--color-acento);}

h2{
    font-size: 1.5rem;
    text-align: center;
}

h3{
    font-size: 1.25rem;
    text-align: center;
}

p{
    margin-top: 1rem;
    text-align: center;
}

/*MAIN Y SECCIONES*/

main{
    padding: 2rem;
}
section{
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
}


/*FIGURE (SECCION PERO DE IMAGENES)*/

figure{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1 fr));
    gap: 15px;
    justify-content: center;
}

/*para las IMAGENES DEL FIGURE*/
figure img{
    width: 250px;
    height: 180px;
    text-align: center;
    object-fit: cover;/*ajustar la imagen manteniedno las proporciones*/
    border-radius: 5px;
}
figcaption{
    grid-row: 1/-1;
    text-align: center;
    font-style: oblique;
    margin-bottom: 2px;
}
/*FOOTER*/
footer{
    background-color: var(--color-primario);
    color: var(--color-texto-claro);
    padding: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}
footer a{
    color: var(--color-acento);
}

